@import "../../styles/_variables.scss";

.graphs {
  text-align: center;
  color: $light;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  max-width: 940px;
  width: 100%;

  h1 {
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
  }

  .graph-wrapper {
    min-height: 320px;
    margin-bottom: 2rem;
    max-width: 95%;
    margin-left: 2.5%;

    svg {
      overflow: visible;
      width: 100%;
  
      .axis {
        color: #a289c2;
      }
    }
  }
}