// Fonts
$font-stack: "Open Sans", Helvetica, Arial, sans-serif;
$code-font-stack: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

// General

// Color scheme
$primary: #333333;
$secondary: #000000;
$light: #ffffff;
$smoke: whitesmoke;